$color-primary: #42423d;
$color-secondary: #e8e8e8;
$color-green: #95bd5c;
$color-red: #cd8878;
$color-white: #fff;
$color-yellow: #ffa130;

$bg-color-secondary: #f5f4f0;
$bg-color-darkgrey: #515056;
$bg-color-grey: #ececed;
$bg-color-beige: #fafaf8;
