$font-family-primary: "Roboto Slab", serif;
$font-family-secondary: "Roboto", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

.tk-cortado {
    font-family: "cortado", sans-serif;
}

.tk-enchanted {
    font-family: "enchanted", sans-serif;
}

.tk-retiro-std-24pt {
    font-family: "retiro-std-24pt", sans-serif;
}

.tk-lindsey-signature {
    font-family: "lindsey-signature", sans-serif;
}
