$colors: (
    theme: (
        0: white,
        300: #d9d9d9,
        400: #afafaf,
        500: rgba(0, 0, 0, 0.76),
        600: black,
    ),

    special: (
        700: green,
        800: red,
        900: #6eff49,
        1000: #ff3b3b,
    ),
);
